<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1> Noise Sandbox</h1>
        <p>
            Terrain generation using Perlin or Simplex noise, option to view as 2D texture or as 3D model with the same texture applied. <br>
            <a href="terrain"> Terrain Playground </a><br>
        </p>
        <p>
            Cells generated currently using Worley noise, and optiosn to use colour palette for terrain. <br>
            <a href="cell"> Cell Playground </a><br>
        </p>
        
    </body>
</html>